// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "admin";

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding-left: 0px;
	padding-right: 0px;
}